:root {
    --main-bg-color: #f3f4ed;
    --secondary-bg-color: #C7BEA2;
    --main-accent-color: #C06014;
    --secondary-accent-color: #424642;
    --tertiary-accent-color: #2B2B2B;
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--main-bg-color);
}

/* Heading component */
#home_flex {
    display: flex;
    margin: 5rem auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Serif', serif;
}

#home_flex h1 {
    flex: 1;
    margin-top: 1rem;
    max-width: 25rem;
    color: var(--main-accent-color);
    font-size: 5rem;
    text-align: center;
}

#home_flex h1:nth-of-type(2) {
    flex: 1;
    max-width:3rem;
    padding: 0 auto;
    color: var(--main-accent-color);
    text-align: center;
    font-weight: bold;
    font-size: 10rem;
}
#home_flex h2{
    flex: 1;
    max-width: 25rem;
    margin-top: 1rem;
    color: var(--secondary-accent-color);
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.2em;

}
/* End of heading component */

/* Home page navigation component */
.home_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 53rem;
    margin: 0 auto;
}

.home_nav li {
    flex: 1;
    border: 5px var(--secondary-bg-color) solid;
    min-width: 16rem;
    background-color: var(--main-accent-color);
    margin: 0.5rem 1rem;
    border-radius: 70px;
    text-align: center;
    list-style: none;
    cursor: pointer;
}

.home_nav li a {
    text-decoration: none;
    line-height:3em;
    font-size: 2.5em;
    color: var(--tertiary-accent-color);

}
/* End of home page navigation component */

/* Hamburger navigation menu component */
#hamburger_menu {
    width: 100%;
}
#hamburger_menu input{
    display: none;
}

#hamburger_menu label{
    font-size: 4rem;
}
#menu_items {
    display: flex;
    justify-content: center;
    list-style: none;
}

#menu_items li{
    flex: 1;
    flex-grow: 1;
    padding: 0.5rem;
    text-align: center;
    border: 5px var(--secondary-bg-color) solid;
    /* min-width: 15%; */
    background-color: var(--main-accent-color);
    margin: 0.5rem 1rem;
    border-radius: 70px;
    list-style: none;
    cursor: pointer;
}

#menu_items li a{
    text-decoration: none;
    color: var(--tertiary-accent-color);
    font-size: 2em;
    color: var(--tertiary-accent-color);
}
/* End of hamburger navigation component */

/* footer component */
footer {
    margin-top: auto;
    padding-bottom: 0.5rem;
    width: 100%;
    background-color: var(--secondary-bg-color);
    color: var(--tertiary-accent-color);
    height: 3rem;
    font-size: 0.8rem;
    text-align: center;
    line-height: 3rem;
}
/* End of footer component */

/* Media breakpoints */
@media screen and (max-width: 48rem) {
    #menu_items {
        display:none;
        width: 50%
    } 
    #hamburger_menu input:checked ~ #menu_items{
        display: block; 
    }
    #menu_items li{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 48rem) {
    #hamburger_menu label {
        display: none;
    }
}