:root {
    --main-bg-color: #f3f4ed;
    --secondary-bg-color: #C7BEA2;
    --main-accent-color: #C06014;
    --secondary-accent-color: #424642;
    --tertiary-accent-color: #2B2B2B;
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--main-bg-color);
}

h1 {
    color: var(--main-accent-color);
    font-size: 7rem;
	font-family: 'Noto Serif', serif;
	letter-spacing: 0.2rem;
}

h2 {
	font-family: 'Noto Serif', serif;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 2.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    line-height: 2rem;
    font-size: 1.5rem;
}

.content_container {
	max-width: 60rem;
	margin: 0 auto;
}

.article_container {
    max-width: 90ch;
    min-width: 40ch;
    margin: 0 auto;
}

.button {
    border: 0.25rem var(--secondary-accent-color) solid;
	background-color: var(--secondary-bg-color);
    border-radius: 3rem;
    text-align: center;
    cursor: pointer;
    line-height:5rem;
    font-size: 2.5rem;
	letter-spacing: 0.1rem;
    text-align: center;
	transition: all 0.4s;
    margin-bottom: 1rem;
}
.button a{
    text-decoration: none;
    color: var(--tertiary-accent-color);
}
.button:hover {
    background-color: var(--main-accent-color);
}

#home_flex {
    display: flex;
    margin: 5rem auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Serif', serif;
}

#home_flex h1 {
    flex: 1;
    margin-top: 1rem;
    max-width: 25rem;
    color: var(--main-accent-color);
    font-size: 5rem;
    text-align: center;
}

#home_flex h1:nth-of-type(2) {
    flex: 1;
    max-width:3rem;
    color: var(--secondary-accent-color);
    font-size: 10rem;
}

#home_flex h2{
    flex: 1;
    max-width: 25rem;
    margin-top: 1rem;
    color: var(--secondary-accent-color);
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.2em;
}

/* Home page nav component */
.home_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 53rem;
    margin: 0 auto 3rem auto;
}

.home_nav a {
    flex: 1;
    border: 0.25rem var(--secondary-accent-color) solid;
	background-color: var(--secondary-bg-color);
    min-width: 16rem;
    margin: 0.5rem 1rem;
    border-radius: 3rem;
    text-align: center;
    cursor: pointer;
	transition: background-color .4s;
	text-decoration: none;
}

.home_nav a:hover {
	background-color: var(--main-accent-color);
}

.home_nav a li {
    line-height:5rem;
    font-size: 2.5rem;
	letter-spacing: 0.1rem;
    color: var(--tertiary-accent-color);
	transition: all 0.4s;
	list-style: none;
}
/* End home page nav component */

/* Hamburger navigation menu component */
#hamburger_menu {
    width: 100%;
	margin-top: 0.5rem;
}

#hamburger_menu input{
    display: none;
}

#hamburger_menu label{
    font-size: 4rem;
}

#menu_items {
    display: flex;
    justify-content: center;
    list-style: none;
}

#menu_items a{
    flex: 1;
    flex-grow: 0.5;
    text-align: center;
    border: 4px var(--secondary-accent-color) solid;
    background-color: var(--secondary-bg-color);
    margin: 0.5rem 1rem;
    border-radius: 3rem;
    list-style: none;
    cursor: pointer;
	padding: 0.5rem 0.5rem;
	line-height: 2rem;
	transition: all 0.4s;
	text-decoration: none;
}

#menu_items a:hover {
	background-color: var(--main-accent-color);
}

#menu_items a li{
	color: var(--tertiary-accent-color);
	letter-spacing: 0.1rem;
	font-size: 2rem;
}
/* End of hamburger navigation menu component */

/* Profile headshot component */
#profile_blurb {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: 3rem 0;
	align-content: center;
}

#headshot {
	display: block;
	margin: auto 0;
	max-width: 50%;
	max-height: 50vw;
	border-radius: 30px;
}

#blurb {
	min-width: 25rem;
	max-width: 45%;
	margin: auto 0;
	font-size: 2rem;
	line-height: 5rem;
	margin-left: 2rem;
	text-align: center;
    font-family: 'Noto Serif', serif;
}
/* End of profile headshot component */

/* Social icons component */
#socials {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: 0 3rem;
}

#socials a {
    margin: 1rem;
    opacity: 85%;
    z-index: -1;
}
/* End of social icons component */

/* Contact form component*/
form {
    margin: 0 auto;
}

input {
    display: block;
    margin: 1rem;
}

input[type="submit"] {
    line-height: 2rem;
    padding: 0 1rem;
    font-size: 1rem;
}

label {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem;
}

textarea {
    display: block;
    margin: 1rem;
}
/* End of contact form component */

/* Projects component */
#projects_fig img{
    width: 100%;
    margin-top: 2rem;
}

#projects_fig figcaption{
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}
/* End of projects component */

/* Blog post component */
.blog_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80rem;
	margin: 0 auto;
}

.blog_container h1{
    margin-right: auto;
}

.date {
    font-size: 1.5rem;
    font-style: italic;
    letter-spacing: 0.15rem;
}

.blog_article {
    max-width: 36rem;
    margin: 2rem;
}

.blog_fig {
    max-width: 100%;
    margin: 0 auto;
}
/* End of blog post component */

/* Footer component */
footer {
	margin-top: auto;
    padding-bottom: 0.5rem;
    width: 100%;
    background-color: var(--secondary-bg-color);
    color: var(--tertiary-accent-color);
	font-family: 'Roboto', sans-serif;
    height: 3rem;
    font-size: 0.8rem;
    text-align: center;
    line-height: 3rem;
}
footer p{
    margin: 0;
    padding: 0;
}
/* End of footer component */

/* Media breakpoints */
@media screen and (max-width: 48rem) {
  #hamburger_menu {
		margin-top: 0;
	}
	#menu_items {
        display:none;
        width: 100%;
        position: absolute;
    } 
    #hamburger_menu input:checked ~ #menu_items {
        display: block; 
        background-color: var(--main-bg-color);
    }

    #menu_items a{
        display: block;
        width: 80%;
        margin: 1.5rem auto;
    }

}

@media screen and (min-width: 48rem) {
    #hamburger_menu label {
        display: none;
    }

}